{
 :paths ["src" "resources"]
 :deps
        {
         org.clojure/clojure 		      	{:mvn/version "1.10.1"}
         uncomplicate/neanderthal               {:mvn/version "0.19.0"}
         uncomplicate/clojurecuda               {:mvn/version "0.4.0"}
         uncomplicate/fluokitten                {:mvn/version "0.9.0"}
         net.cailuno/denisovan                  {:mvn/version "0.1.1"}
         generateme/fastmath                    {:mvn/version "1.2.0"}
         net.mikera/vectorz-clj                 {:mvn/version "0.48.0"}
         midje                                  {:mvn/version "1.9.2"}
         criterium                              {:mvn/version "0.4.5"}
         incanter                               {:mvn/version "1.9.3"
                                                 :exclusions [com.lowagie/itext]}
         ;; edu.stanford.nlp/stanford-corenlp      {:mvn/version "3.9.2"}
         ;; edu.stanford.nlp/stanford-corenlp$models {:mvn/version "3.9.2"}
         ;; edu.stanford.nlp/stanford-corenlp$models-english {:mvn/version "3.9.2"}
         ;; snowball-stemmer                  	{:mvn/version "0.1.0"}
         }

 ;; :mvn/repos
 ;;        {"releases"  {:url           ""
 ;;                      :no-auth       true
 ;;                      :sign-releases false}
 ;;         "snapshots" {:url           ""
 ;;                      :no-auth       true
 ;;                      :sign-releases false}}
 }
